/* Styles for the container holding project cards */
.projects-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 5rem; /* Gap between columns */
}

/* Styles for project links */
.project-link {
  text-decoration: none; /* Remove underline */
  color: black; /* Text color */
}

/* Styles for individual project cards */
.project {
  width: 300px; /* Width of each card */
  padding: 10px; /* Padding inside the card */
  margin: 10px; /* Margin around the card */
  border-radius: 5px; /* Rounded corners */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for project cards */
.project:hover {
  opacity: 0.8; /* Reduced opacity on hover */
}

/* Styles for project images */
.project-image {
  width: 100%; /* Full width */
  height: 250px; /* Fixed height */
  border-radius: 5px; /* Rounded corners */
}

/* Styles for primary buttons */
.btn-primary {
  background-color: #8cbcf7; /* Background color */
  border-color: #8cbcf7; /* Border color */
  color: #fff; /* Text color */
}

/* Hover effect for primary buttons */
.btn-primary:hover {
  background-color: #6e9bd9; /* Darker background color on hover */
  border-color: #6e9bd9; /* Darker border color on hover */
}